<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-3 body-frame top">
      <div class="col-lg-12 inner">
        <button (click)="makeCall()" type="button" class="btn btn-primary">
          Authorize
        </button>
      </div>
    </div>


    <div class="col-lg-6 body-frame top">

      <div class="col-lg-12 inner" [ngClass]="{
            'new-tweet-box': expandedNewTweetBox === false,
            'new-tweet-box-expanded': expandedNewTweetBox === true
            }">
        <form class="container">
          <div class="row">
            <div class="col-lg-12">

              <input (click)="expandedNewTweetBox = true" type="text" class="form-control" id="newTweetForm" placeholder="What's happening?">

            </div>
          </div>
          <div class="col-lg-12">
            <div class="row justify-content-end">
              <button *ngIf="expandedNewTweetBox" class="btn btn-primary new-tweet-button">Tweet</button>
            </div>
          </div>
        </form>
      </div>

      <!-- <ng-template #expandNewTweetBox>
        <div class="col-lg-12 inner new-tweet-box expanded">
          <form>
            <div class="form-group">

              <input (click)="show = !show" type="text" class="form-control" id="exampleInputPassword1" placeholder="What's happening?">
              show = {{show}}

              <button type="button" class="btn btn-primary">Tweet</button>
            </div>
          </form>
        </div>
      </ng-template> -->
      
    </div>


    <div class="col-lg-3 body-frame top">
      <div class="col-lg-12 inner">

        <button type="button" class="btn btn-info" 
                (click)="openModal(template)">Create template modal</button>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" 
                      aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              This is a modal.
          </div>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="row">
    <form class="col-4">
      <div class="row">
        <div class="input-field col-12">
          <input id="hashtags" type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
          <label for="hashtags">Search by hashtag</label>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchCall()">Search</button>
      <div *ngFor="let item of tweetsdata" class="col-12">
        <div class="card">
          <div class="card-image">
            <img style="width: 100px; height: 100px;" src={{item.user.profile_image_url}}>
          </div>
          <div class="right-content">
            <span class="card-title">{{ item.user.name }}</span>
            <div class="card-content">
              <p>{{ item.text }}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>









